<div class="row justify-content-center algin-items-center mt-5">
    <div class="col-4 shadow-sm p-3 bg-body-tertiary rounded">

        <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
            <h2 class="text-center text-primary mb-5 mt-2">Create an Account </h2>

            <app-text-input [formControl]="$any(registerForm.controls['name'])" [label]="'Name'"></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['email'])" [label]="'Email'"></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['password'])" type="password"
                [label]="'Password'"></app-text-input>
            <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" type="password"
                [label]="'Confirm password'"></app-text-input>

            <button [disabled]="!registerForm.valid" class="btn btn-primary  mt-2" type="submit">Sign Up</button>

            <div class="d-flex mt-2">
                <p>Have an Account</p>
                <a class="ms-2 fw-bold" routerLink="/login">Login?</a>

            </div>
        </form>
    </div>
</div>