<div class=" row  py-3 align-items-center justify-content-between" *ngIf="address">
    <div class="col-8 ">
        <p class="mb-1 text-break">
            {{address.userAddress}}
        </p>
        <p class="mb-1">{{address.country}}</p>
        <p class="mb-1">x{{address.city}}</p>
        <p class="mb-1">{{address.phone}}</p>
    </div>
    <div class="col-4  text-end d-flex align-items-center">
        <button class="btn btn-info " (click)="editAddress(address.id)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="btn btn-danger mx-2" (click)="deleteAddressFromList(address.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button class="btn btn-warning" (click)="changeToMainInList(address.id)">
            <div *ngIf="address.isMain; else elseBlock">
                <i class="fa fa-check-square" aria-hidden="true"></i>
            </div>
            <ng-template #elseBlock>
                <i class="fa fa-minus-square" aria-hidden="true"></i>
            </ng-template>


        </button>

    </div>

</div>