<div class="my-5">
    <div class="row text-primary border-bottom border-primary bg-light py-3">
        <h6 class="col-8  ">Product</h6>
        <h6 class="col-1  ">Action</h6>
    </div>
    <div class="border-bottom border-secandary mb-1" *ngFor="let address of addresses">
        <app-address-items (deleteAddress)="deleteAddress($event)" (changeToMain)="changeToMain($event)" [address]="address"></app-address-items>
    </div>

</div>
<button class="btn btn-info mb-5"  routerLink="/add-address">
   adding new address <i class="fa fa-plus" aria-hidden="true"></i>
</button>
